* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  height: 100svh;

  background-color: #1b1a1f;
  color: #fcfcff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;

  width: 65%;
  margin-top: 2rem;
  background-color: #3e4651;
  border-radius: 0.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player1 {
  color: #30e2b6;
}

.player2 {
  color: #25aef3;
}

#robot {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}

#robot.active {
  opacity: 1;
  color: #25aef3;
}

#game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 8rem;
  width: 8rem;

  background-color: #3e4651;
  color: #191919;
  font-size: 4rem;
  font-weight: 700;
}

.row {
  display: flex;
  gap: 0.5rem;
}

#strike {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 50%;

  width: 28rem;
  height: 0.5rem;
  filter: drop-shadow(0 0 0.5rem #000000);
  border-radius: 3rem;
}

#strike-diagonal {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 50%;

  width: 38rem;
  height: 0.5rem;
  filter: drop-shadow(0 0 0.5rem #000000);
  border-radius: 3rem;
}

#strike.one-vertical {
  opacity: 1;
  transform: rotate(90deg) translateY(8.25rem);
}
#strike.two-vertical {
  opacity: 1;
  transform: rotate(90deg);
}
#strike.three-vertical {
  opacity: 1;
  transform: rotate(90deg) translateY(-8.25rem);
}
#strike.one-horizontal {
  opacity: 1;
  transform: translateY(-8.5rem);
}
#strike.two-horizontal {
  opacity: 1;
}
#strike.three-horizontal {
  opacity: 1;
  transform: translateY(8.5rem);
}

#strike-diagonal.one-diagonal {
  opacity: 1;
  transform: rotate(45deg);
}
#strike-diagonal.two-diagonal {
  opacity: 1;
  transform: rotate(-45deg);
}
#strike-diagonal.player1 {
  background-color: #30e2b6;
}
#strike-diagonal.player2 {
  background-color: #25aef3;
}
#strike.player1 {
  background-color: #30e2b6;
}
#strike.player2 {
  background-color: #25aef3;
}

.options {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}
#restart {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem 3rem;

  border: none;
  border-radius: 20rem;
  color: #ffffff;
  transition: all 0.2s;
}

#restart.player1 {
  background-color: #30e2b6;
}
#restart.player2 {
  background-color: #25aef3;
}

#restart:hover {
  filter: drop-shadow(0 0 0.5rem #000000);
}

footer {
  margin-bottom: 1rem;
}
